snippet xpv "Version section" b
Version ${1:X}.${2:Y}.${3:Z}, released `!v strftime("%Y-%m-%d")`
-----------------------------------
SVN version: ${4:revision}


endsnippet

snippet xph "Heads up! headline" b
Heads up!
~~~~~~~~~

endsnippet

snippet xpb "Bugs headline" b
Bugfixes
~~~~~~~~

endsnippet

snippet xpf "Features headline" b
Features
~~~~~~~~

endsnippet

snippet xpc "Change description" b
- ${1:text...}
  (${2:user})
endsnippet
